/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 250vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}
::selection {
  background: #6d50e2;
  color: #fff;
}
.container {
  max-width: 800px;
  width: 100%;
  padding: 40px 50px 40px 40px;
  background: #fff;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .topic {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 30px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .list {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 50px;
  position: relative;
}
.content .list label {
  height: 60px;
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;
  padding-left: 25px;
  transition: all 0.5s ease;
  color: #333;
  z-index: 12;
}
#home:checked ~ .list label.home,
#first:checked ~ .list label.first,
#second:checked ~ .list label.second,
#third:checked ~ .list label.third,
#fourth:checked ~ .list label.fourth,
#fifth:checked ~ .list label.fifth
#sixth:checked ~ .list label.sixth {
  color: #fff;
}
.content .list label:hover {
  color: #6d50e2;
}
.content .slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  border-radius: 12px;
  background: #6d50e2;
  transition: all 0.4s ease;
}
#home:checked ~ .list .slider {
  top: 0;
}
#first:checked ~ .list .slider {
  top: 60px;
}
#second:checked ~ .list .slider {
  top: 120px;
}
#third:checked ~ .list .slider {
  top: 180px;
}
#fourth:checked ~ .list .slider {
  top: 240px;
}
#fifth:checked ~ .list .slider {
  top: 300px;
} 
#sixth:checked ~ .list .slider {
  top: 360px;
}
.content .text-content {
  width: 80%;
  height: 100%;
}
.content .text {
  display: none;
}
.content .text .title {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 500;
}
.content .text p {
  text-align: justify;
}
.content .text-content .home {
  display: block;
}
#home:checked ~ .text-content .home,
#first:checked ~ .text-content .first,
#second:checked ~ .text-content .second,
#third:checked ~ .text-content .third,
#fourth:checked ~ .text-content .fourth,
#fifth:checked ~ .text-content .fifth {
  display: block;
}
#first:checked ~ .text-content .home,
#second:checked ~ .text-content .home,
#third:checked ~ .text-content .home,
#fourth:checked ~ .text-content .home,
#about:checked ~ .text-content .home {
  display: none;
}
.content input {
  display: none;
}
